// .demo-table {
//   width: 100%;
//   background-color: white; /* Table background set to white */
// }

// .mat-mdc-row .mat-mdc-cell {
//   cursor: pointer;
//    /* Table row text color set to black */
// }

// .demo-row-is-clicked {
//   font-weight: bold;
//   /* Clicked row text color set to black */
// }

// .button-padding {
//   padding-right: 10px;
//   padding-left: 10px;
// }

.listing-management-container {
  padding: 16px;

  h2 {
    margin-bottom: 16px;
    color: #545a72;
  }

  .search-filter-create {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .search-input {
      flex: 1;
      margin-right: 10px;
    }

    button {
      margin-right: 10px;
    }
  }

  .loan-table {
    width: 100%;
    mat-header-cell {
      color: #757575;
      font-weight: bold;
    }

    mat-cell {
      color: #333;
    }
  }
}

.breadcrumb {
  font-size: 14px;
  color: #757575;
  margin-bottom: 8px;
}

