<div class="listing-management-container">
  <nav class="breadcrumb">
    <h4>Customer Management</h4> <!-- Adjust the component name as needed -->
  </nav>
  <div class="search-filter-create">
    <mat-form-field class="search-input" appearance="outline">
      <input matInput [(ngModel)]="searchQuery" placeholder="Eg. value" name="searchQuery" (keydown.enter)="filterTable()"/>
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="filterTable()">Filter</button>
    <button mat-raised-button color="primary" (click)="onAddClick()" [disabled]="userRole === 'AGENT' || userRole === 'LEAD' || userRole === 'ADMIN'">
      Add Customer
    </button>
    
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
      
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef>Customer Id</th>
        <td mat-cell *matCellDef="let element">{{ element.generate_id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- IC Column -->
      <ng-container matColumnDef="ic">
        <th mat-header-cell *matHeaderCellDef>IC</th>
        <td mat-cell *matCellDef="let element">{{ element.ic }}</td>
      </ng-container>

      <!-- Passport Column -->
      <ng-container matColumnDef="passport">
        <th mat-header-cell *matHeaderCellDef>Passport</th>
        <td mat-cell *matCellDef="let element">{{ element.passport }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="onRowClick(element, 'edit')" [disabled]="userRole === 'AGENT'">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="onRowClick(element, 'view')">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(element)" [disabled]="userRole === 'AGENT'">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- Paginator -->
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
