<div class="login-container">
  <div class="login-box">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="form-control">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="email" placeholder="Enter your username" />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Username is required</mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Enter a valid email</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-control">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Enter your password" />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
          Password must be at least 6 characters
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || isLoading">
        Login
        <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="20"></mat-progress-spinner>
      </button>
    </form>
  </div>
</div>
