.loan-management-container {
  .loan-details-form,
  .form-container form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Add space between fields */
    justify-content: space-between;

    mat-form-field {
      flex: 1 1 calc(25% - 16px); /* Adjust width for 4 fields per row */
      min-width: 200px; /* Minimum width for each field */
    }
  }

  .mat-tab-group {
    margin-top: 24px;

    .form-container {
      margin-bottom: 24px;

      form {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        mat-form-field {
          flex: 1 1 calc(25% - 16px);
          min-width: 200px;
        }
      }

      .action-buttons {
        margin-top: 16px;
        display: flex;
        justify-content: flex-end;

        button {
          margin-left: 8px;
        }
      }
    }
  }

  .action-buttons {
    margin-top: 16px;
    display: flex;
    justify-content: center;

    button {
      margin-left: 8px;
    }
  }

  table {
    width: 100%;
    margin-top: 24px;
  }
}

.search-filter-create {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  .search-input {
    flex: 1;
    margin-right: 10px;
  }

  button {
    margin-right: 10px;
  }
}

.breadcrumb {
  font-size: 14px;
  color: #757575;
  margin-bottom: 8px;
}
