
<div class="customer-form">
  <mat-card>
    <mat-card-title>Customer - Add</mat-card-title>
    <mat-card-content>
      <!-- Customer Details -->
      <h6 class="heading-text">Customer Details</h6>
      <form [formGroup]="customerForm" class="form-seperate">
        <div class="form-row">
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter name" formControlName="name">
          </mat-form-field>
        
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>IC</mat-label>
            <input matInput type="text" maxlength="12" placeholder="Enter IC" formControlName="ic">
            <mat-error *ngIf="customerForm.hasError('eitherFieldRequired')">
              Either IC or Passport is required.
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Passport</mat-label>
            <input matInput placeholder="Enter Passport" formControlName="passport">
            <mat-error *ngIf="customerForm.hasError('eitherFieldRequired')">
              Either IC or Passport is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Race</mat-label>
            <mat-select formControlName="race" placeholder="Select Race">
              <mat-option *ngFor="let race of race" [value]="race">
                {{ race }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
              <mat-option value="other">Other</mat-option>
            </mat-select>
          </mat-form-field>
        
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Marital Status</mat-label>
            <mat-select formControlName="marital_status">
              <mat-option value="single">Single</mat-option>
              <mat-option value="married">Married</mat-option>
              <mat-option value="divorced">Divorced</mat-option>
              <mat-option value="widowed">Widowed</mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>No. of Child</mat-label>
            <input matInput type="number" placeholder="Enter No. of Child" formControlName="no_of_child">
          </mat-form-field>
      
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Car Plate</mat-label>
            <input matInput placeholder="Enter Car Plate" formControlName="car_plate">
          </mat-form-field>
        </div>
      
        <div class="form-row">
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Fb Link</mat-label>
            <input matInput type="email" placeholder="Enter Fb Link" formControlName="fblink">
          </mat-form-field>
          
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Telephone</mat-label>
            <input matInput placeholder="Enter Telephone" type="text" formControlName="tel_no">
          </mat-form-field>
      
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Mobile</mat-label>
            <input matInput placeholder="Enter Mobile" type="text" formControlName="mobile_no">
          </mat-form-field>

          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Customer Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="Pending">Pending</mat-option>
              <mat-option value="Potential">Potential</mat-option>
              <mat-option value="Process">Process</mat-option>
              <mat-option value="Success">Success</mat-option>
              <mat-option value="Reject">Reject</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
      
      
      <!-- Tabs for Other Sections -->
      <mat-tab-group class="form-seperate">
        <mat-tab label="Address & Contact">
          <form [formGroup]="customerAddressForm">
            <h6 class="heading-text" style="margin-bottom: 10px;">Customer Address</h6>
          
            <!-- Address Line (Half width) -->
            <div class="form-row">
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Address Lines</mat-label>
                <textarea matInput placeholder="Enter Address Line" formControlName="perm_address_line"></textarea>
              </mat-form-field>
          
              <mat-form-field class="quarter-width">
                <mat-label>Postal Code</mat-label>
                <input matInput formControlName="perm_postal_code" placeholder="Postal Code" />
              </mat-form-field>

              <mat-form-field class="one-fifth-width">
                <mat-label>Country</mat-label>
                <mat-select formControlName="perm_country" (selectionChange)="onCountryChange($event.value)">
                  <mat-option *ngFor="let country of countries" [value]="country.id">
                    {{ country.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
             
            </div>
          
            <!-- Row with 4 fields -->
            <div class="form-row">
              <mat-form-field class="one-fifth-width">
                <mat-label>State</mat-label>
                <mat-select formControlName="perm_state" (selectionChange)="onStateChange($event.value)">
                  <mat-option *ngFor="let state of states" [value]="state.id">
                    {{ state.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
              <mat-form-field class="quarter-width">
                <mat-label>City</mat-label>
                <mat-select formControlName="perm_city">
                  <mat-option *ngFor="let city of cities" [value]="city.id">
                    {{ city.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
            </div>
          
            <!-- Staying Since (Full width) -->
            <!-- <div class="form-row">
              
            </div> -->
          
            <!-- Checkbox -->
            <div class="col-sm-12">
              <input type="checkbox" formControlName="cus_same_as_permanent" /> Correspondence address same as Permanent Address
            </div>
          
            <h6 class="heading-text">Correspondence Address</h6>
          
            <!-- Correspondence Address Line (Half width) -->
            <div class="form-row">
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Address Lines</mat-label>
                <textarea matInput placeholder="Enter Address Line" formControlName="corr_address_line"></textarea>
              </mat-form-field>
          
              <mat-form-field class="quarter-width">
                <mat-label>Postal Code</mat-label>
                <input matInput formControlName="corr_postal_code" placeholder="Postal Code" />
              </mat-form-field>

              <mat-form-field class="quarter-width">
                <mat-label>Country</mat-label>
                <mat-select formControlName="corr_country" (selectionChange)="onCountryChange($event.value)">
                  <mat-option *ngFor="let country of countries" [value]="country.id">
                    {{ country.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
             
            </div>
          
            <!-- Correspondence Address Row with 4 fields -->
            <div class="form-row">
              <mat-form-field class="quarter-width">
                <mat-label>State</mat-label>
                <mat-select formControlName="corr_state" (selectionChange)="onStateChange($event.value)">
                  <mat-option *ngFor="let state of states" [value]="state.id">
                    {{ state.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
              <mat-form-field class="quarter-width">
                <mat-label>City</mat-label>
                <mat-select formControlName="corr_city">
                  <mat-option *ngFor="let city of cities" [value]="city.id">
                    {{ city.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
        </mat-tab>

        <mat-tab label="Employment & Company"> <form [formGroup]="customerEmployemntForm" class="m-2" >
          <div class="row m-3">
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Income</mat-label>
                <input matInput formControlName="annual_income" placeholder="Annual Income" />
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Business Type</mat-label>
                <input matInput formControlName="business_type" placeholder="Business Type" />
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Department</mat-label>
                <input matInput formControlName="department" placeholder="Department" />
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Employee No</mat-label>
                <input matInput formControlName="employee_no" placeholder="Employee No" />
              </mat-form-field>
            </div>
           
            <div class="col-sm-3">
              <mat-form-field appearance="fill">
                <mat-label>Income Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="income_date">
                <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Occupation Category</mat-label>
                <input matInput formControlName="occupation_category" placeholder="Occupation Category" />
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Position</mat-label>
                <input matInput formControlName="position" placeholder="Position" />
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Remarks</mat-label>
                <input matInput formControlName="employment_remarks" placeholder="Remarks" />
              </mat-form-field>
            </div>
          
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Telephone No</mat-label>
                <input matInput formControlName="telephone_no" placeholder="Telephone No" />
              </mat-form-field>
            </div>
          </div>
         
          </form></mat-tab>
        <mat-tab label="Family & Guarantor">
          <form [formGroup]="customerRelationshipForm" class="m-2">

            <div class="row m-3">
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="relationship_name" placeholder="Name" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>IC</mat-label>
                  <input matInput formControlName="relationship_ic" placeholder="IC" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Mobile No</mat-label>
                  <input matInput formControlName="relationship_mobile_no" placeholder="Mobile No" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                
                  <mat-form-field class="example-full-width">
                    <mat-label>Relationship</mat-label>
                    <input matInput formControlName="relationship" placeholder="Relationship" />
                  </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 d-flex flex-row-reverse">
                <button mat-raised-button color="primary" type ="submit"  [disabled]="isView" (click)="onCustomerRelationSave()" >Insert</button>
                
              </div>
            </div>  
          </form>
      
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>
          
              <!-- IC Column -->
              <ng-container matColumnDef="ic">
                <th mat-header-cell *matHeaderCellDef>IC</th>
                <td mat-cell *matCellDef="let element">{{ element.ic }}</td>
              </ng-container>
              
              <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef>Mobile No</th>
                <td mat-cell *matCellDef="let element">{{ element.mobile_no }}</td>
              </ng-container>
          
              <ng-container matColumnDef="relationship">
                <th mat-header-cell *matHeaderCellDef>Relationship</th>
                <td mat-cell *matCellDef="let element">{{ element.relationship }}</td>
              </ng-container>   
          
              <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let record">
                  <button mat-button color="accent" (click)="onRowClick(record)"><mat-icon>edit</mat-icon></button>
                  <button mat-button color="warn" (click)="onRowDelete(record)"><mat-icon>delete</mat-icon></button>
                </td>
              </ng-container>
          
              <!-- Table Rows -->
              <tr mat-header-row *matHeaderRowDef="displayedColumnsForRelationshipForm"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumnsForRelationshipForm"
              ></tr>
            </table>
          
            <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
              aria-label="Select page of periodic elements"
            >
            </mat-paginator>
          </div>
          
        </mat-tab>

        <mat-tab label="Banking">
          <form [formGroup]="bankingForm" class="m-2">
            <h6>Bank Info</h6>
            <div class="row m-3">
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Bank Name</mat-label>
                  <input matInput formControlName="bankName" placeholder="Bank Name" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Account No</mat-label>
                  <input matInput formControlName="accountNo" placeholder="Account No" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Bank Holder</mat-label>
                  <input matInput formControlName="bankHolder" placeholder="Bank Holder Name" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Bank Card</mat-label>
                  <input matInput formControlName="bankCard" placeholder="Bank Card" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Pin No</mat-label>
                  <input matInput formControlName="pinNo" placeholder="Pin No" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Remarks</mat-label>
                  <input matInput formControlName="remark" placeholder="Remarks" />
                </mat-form-field>
              </div>
              <div class="col-sm-3 d-flex justify-content-end">
                <button mat-raised-button type="submit" color="primary" [disabled]="isView" (click)="onBankingSubmit()">Insert</button>
              </div>
            </div>
          </form>
        
          <h3>Bank Records</h3>

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="bankDataSource" class="mat-elevation-z8">
              <!-- Name Column -->
              <ng-container matColumnDef="bankName">
                <th mat-header-cell *matHeaderCellDef>Bank Name</th>
                <td mat-cell *matCellDef="let element">{{ element.bankName }}</td>
              </ng-container>
          
              <!-- IC Column -->
              <ng-container matColumnDef="accountNo">
                <th mat-header-cell *matHeaderCellDef>Account No</th>
                <td mat-cell *matCellDef="let element">{{ element.accountNo }}</td>
              </ng-container>
          
              <!-- Passport Column -->
              <ng-container matColumnDef="bankHolder">
                <th mat-header-cell *matHeaderCellDef>Bank Holder</th>
                <td mat-cell *matCellDef="let element">{{ element.bankHolder }}</td>
              </ng-container>
          
              <!-- Address Line Column -->
              <ng-container matColumnDef="bankCard">
                <th mat-header-cell *matHeaderCellDef>Bank Card</th>
                <td mat-cell *matCellDef="let element">{{ element.bankCard }}</td>
              </ng-container>

              <ng-container matColumnDef="pinNo">
                <th mat-header-cell *matHeaderCellDef>Pin No</th>
                <td mat-cell *matCellDef="let element">{{ element.pinNo }}</td>
              </ng-container>
          
              <ng-container matColumnDef="remarks">
                <th mat-header-cell *matHeaderCellDef>Remarks</th>
                <td mat-cell *matCellDef="let element">{{ element.remark }}</td>
              </ng-container>
          
              <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let record; let i = index">
                  <button mat-button color="accent" (click)="onBankEdit(record, i)"><mat-icon>edit</mat-icon></button>
                  <button mat-button color="warn" (click)="onBankDelete(record, i)"><mat-icon>delete</mat-icon></button>
                </td>
              </ng-container>
          
              <!-- Table Rows -->
              <tr mat-header-row *matHeaderRowDef="displayedColumnsBank"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsBank;"></tr>
            </table>
          
            <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
              aria-label="Select page of periodic elements"
            >
            </mat-paginator>
          </div>
        </mat-tab>
        

        <mat-tab label="Documents">
          <div [formGroup]="documentsForm" class="documents-tab">
            <!-- Upload Section -->
            <!-- <div class="upload-container">
              <label for="fileUpload" class="upload-label">Upload Files or Drag & Drop</label>
              <input
                type="file"
                formControlName="fileUpload"
                id="fileUpload"
                (change)="onFileChange($event)"
                multiple
              />
            
              <mat-form-field class="file-name-field">
                <mat-label>File Description</mat-label>
                <input type="text" matInput formControlName="fileDescription" />
              </mat-form-field>
            
              <div class="button-container">
                <button mat-raised-button color="primary" [disabled]="isView" (click)="addDocumentRecord()">Upload Files</button>
                <button mat-button color="warn" (click)="clearUploadForm()">Clear</button>
              </div>
            </div> -->

            <div class="upload-container">
              <label for="fileUpload" class="upload-label">Upload Files or Drag & Drop</label>
              <input
                type="file"
                formControlName="fileUpload"
                id="fileUpload"
                (change)="onFileChange($event)"
                multiple
              />
            
              <mat-form-field class="file-name-field">
                <mat-label>File Description</mat-label>
                <input type="text" matInput formControlName="fileDescription" />
              </mat-form-field>
            
              <div *ngIf="fileEditStatus" class="file-edit-info">
                <p>Editing File: {{ selectedFiles[0]?.name }}</p>
              </div>
            
              <div class="button-container">
                <button
                  mat-raised-button
                  color="primary"
                  [disabled]="isView"
                  (click)="addDocumentRecord()"
                >
                  {{ fileEditStatus ? 'Update File' : 'Upload Files' }}
                </button>
                <button mat-button color="warn" (click)="clearUploadForm()">Clear</button>
              </div>
            </div>
            
        
            <!-- Table Section -->
            <div class="table-container" *ngIf="uploadedFiles.length > 0">
              <table mat-table [dataSource]="uploadedDocumentSource" class="mat-elevation-z8">
                <!-- File Name Column -->
                <ng-container matColumnDef="fileName">
                  <th mat-header-cell *matHeaderCellDef>File Name</th>
                  <td mat-cell *matCellDef="let element">{{ element.fileName }}</td>
                </ng-container>
        
                <!-- File Description Column -->
                <ng-container matColumnDef="fileDescription">
                  <th mat-header-cell *matHeaderCellDef>File Description</th>
                  <td mat-cell *matCellDef="let element">{{ element.fileDescription }}</td>
                </ng-container>

                <ng-container matColumnDef="fileSize">
                  <th mat-header-cell *matHeaderCellDef>File Size</th>
                  <td mat-cell *matCellDef="let element">{{ element.fileSize }}</td>
                </ng-container>

                <ng-container matColumnDef="fileType">
                  <th mat-header-cell *matHeaderCellDef>File Type</th>
                  <td mat-cell *matCellDef="let element">{{ element.fileType }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let record let i=index">
                    <button mat-button color="accent" (click)="onFileEdit(record,i)"><mat-icon>edit</mat-icon></button>
                    <button mat-button color="warn" (click)="onFileDelete(record,i)"><mat-icon>delete</mat-icon></button>
                  </td>
                </ng-container>
        
                <!-- Table Header -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <!-- Table Row -->
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        
            
            </div>
          </div>
        
        </mat-tab>

        <mat-tab label="Remarks">
          <form [formGroup]="remarksForm" class="m-2">
            <h6>Remarks Forms</h6>
            <div class="row m-9">
              <div class="col-sm-9">
                <mat-form-field class="example-full-width">
                  <mat-label>Remarks</mat-label>
                  <textarea matInput formControlName="remark" placeholder="Enter Remarks"></textarea>
                </mat-form-field>
              </div>
   
              <div class="col-sm-3 d-flex justify-content-end">
                <button mat-raised-button type="submit" color="primary" [disabled]="isView" (click)="onRemarksSubmit()">Insert</button>
              </div>
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="remarkDataSource">
                  <!-- Name Column -->
              
                  <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef>Remarks</th>
                    <td mat-cell *matCellDef="let element">{{ element.remark }}</td>
                  </ng-container>

                  <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef>Created Date</th>
                    <td mat-cell *matCellDef="let element">{{ element.createdAt }}</td>
                  </ng-container>
                  
                  <ng-container matColumnDef="createdBy">
                    <th mat-header-cell *matHeaderCellDef>Created By</th>
                    <td mat-cell *matCellDef="let element">{{ element.createdBy }}</td>
                  </ng-container>
              
                  <!-- Actions Column -->
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let record; let i = index">
                      <button mat-button color="accent" (click)="onRemarksEdit(record, i)"><mat-icon>edit</mat-icon></button>
                      <button mat-button color="warn" (click)="onRemarksDelete(record, i)"><mat-icon>delete</mat-icon></button>
                    </td>
                  </ng-container>
              
                  <!-- Table Rows -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsRemark"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsRemark;"></tr>
                </table>
              
                <mat-paginator
                  [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="Select page of periodic elements"
                >
                </mat-paginator>
              </div>
            </div>
          </form>
        </mat-tab>
        

      </mat-tab-group>

      <div class="action-buttons">
        <button mat-raised-button color="primary" [disabled]="isView" (click)="onMasterSubmit()">Save</button>
        <button mat-raised-button (click)="masterCancel()">Cancel</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>